.mainheader{
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 6rem;
    z-index: 1;
    display: flex;
    position:fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
.flexr{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    display: inline-block
}
.logo:hover{
    cursor: pointer;
}
.link{
    margin-left: 2rem;
    font-size: 1.5rem;
}
.flexc{
    padding-top: 6rem;
    flex:1;
    min-height: calc(100vh - 10rem);
}
.footer{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer .info p{
    margin-bottom: 1rem;
}
.footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .social img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.active{
    color: #007fff;
}